/* Default css - mobile */
*{
    font-size: 1.1em;
}

header {
    font-size: 2em;
}

#fork-ribbon {
    display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        font-size: 4em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        font-size: 4em;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #fork-ribbon {
        display: block;
    }
 }
